.loginPage {
    background-color: #f6f6f6;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginCard {
    border: 1px solid silver;
    background-color: #fff;
    padding: 20px 35px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.loginCard h2 {
    color: rgb(93 , 93 , 93);
    font-size: 1.3rem;
    margin-bottom: 40px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a3eb;
    padding: 10px;
    width: fit-content;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.button:hover {
    background-color: #0055b6;
}

.button img {
    width: 30px;
    margin-right: 10px;
}